<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h2>Fetch Test</h2>

    <input id="username" placeholder="enter username">
    <button id="send">Gönder</button>

    <script>
        document.getElementById("send").addEventListener("click", async () => {
            const data = new FormData();
            data.append("username", document.getElementById("username").value);

            const res = await fetch("/fetch-login", {
                method: "POST",
                body: data
            });

            const text = await res.text();
            alert(text);
        });
    </script>
</body>
</html>
