<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        {% if session.get('username') %}
            <span>Giriş yapan: <strong>{{ session.username }}</strong> ({{ session.role }})</span>
            <a href="{{ url_for('auth.logout') }}">Çıkış</a>
        {% else %}
            <a href="{{ url_for('auth.login') }}">Giriş</a>
        {% endif %}
    </nav>

    <h2>File Upload</h2>

    <form id="uploadForm" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" id="file">
        <button id="send" type="button">Upload</button>
    </form>

    <script>
        document.getElementById("send").addEventListener("click", async () => {
            const data = new FormData(document.getElementById('uploadForm'));

            const res = await fetch("/upload", {
                method: "POST",
                body: data
            });

            const text = await res.text();
            alert(text);
        });
    </script>
</body>
</html>
